<div class="details">

    <!-- Modal HTML -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><ng-content select=".header" ></ng-content></h4>
                </div>
                <div class="modal-body">
                    <div *ngIf="address">
                        <div><label><b>Street: </b></label>{{address.street1}}</div>
                        <div><label><b>City: </b></label>{{address.city}}</div>
                        <div><label><b>State: </b></label>{{address.state}}</div>
                        <div><label><b>Country: </b></label>{{address.country}}</div>
                        <div><label><b>ZipCode: </b></label>{{address.zipcode}}</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
